@model Mecanica_MVC.Models.Cliente
@{
    ViewData["Title"] = "Remover Cliente";
}
<h2>@ViewData["Title"]</h2>

<div class ="row">
    <div class="col">
        <div class="container-fluid">
            <div class="form-group row">
                <label class="col-form-label">@Html.DisplayNameFor(model => model.Nome)</label>
                <input class="form-control" type="text" disabled value="@Html.DisplayFor(model => model.Nome)">

                <label class="col-form-label">@Html.DisplayNameFor(model => model.Telefone)</label>
                <input class="form-control" type="text" disabled value="@Html.DisplayFor(model => model.Telefone)">


                <label class="col-form-label">@Html.DisplayNameFor(model => model.Email)</label>
                <input class="form-control" type="text"  value="@Html.DisplayFor(model => model.Email)" disabled>


                <label class="col-form-label">@Html.DisplayNameFor(model => model.Carro)</label>
                <input class="form-control" type="text"  value="@Html.DisplayFor(model => model.Carro)" disabled>

                
                <form asp-action="RemoverCliente">
                    <input type="hidden" asp-for="ID" />
                    <button type="submit" class="btn btn-danger mt-2">Deletar <i class="fa-solid fa-trash"></i> </button>
                    <a asp-action="Index" class="btn btn-secondary mt-2">Voltar <i class="fa-solid fa-rotate-left"></i></a>
                </form>
     
            </div>
        </div>
    </div>
</div>