@model IEnumerable<Mecanica_MVC.Models.ClienteModel>
@{
    ViewData["Title"] = "Clientes";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a class="btn btn-primary" asp-action="FormCliente01">Adicionar Cliente</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Carro)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Carro)</td>
            <td>
               <a class="btn btn-info" asp-action="DetailsCliente" asp-route-Nome="@item.Nome"
                                                                     asp-route-id="@item.ID"
                                                                     asp-route-Telefone="@item.Telefone"
                                                                     asp-route-Email="@item.Email"
                                                                     asp-route-Carro="@item.Carro"><i class="fa-solid fa-circle-info"></i>
               </a>
               <a class="btn btn-warning" asp-action="AtualizarCliente" asp-route-Nome="@item.Nome"
                                                                     asp-route-id="@item.ID"
                                                                     asp-route-Telefone="@item.Telefone"
                                                                     asp-route-Email="@item.Email"
                                                                     asp-route-Carro="@item.Carro"><i class="fa-solid fa-user-pen"></i>
               </a>
               <a class="btn btn-danger" asp-action="RemoverCliente" asp-route-id="@item.ID"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
       }
    </tbody>
</table>


@*<script language="javascript">
    alert("Testando Javascript");
</script>*@